# Terraform
foundation/.terraform/
foundation/.terraform.lock.hcl

# Kubernetes / kubeconfig
kubeconfig.yaml

# Docker
*.log

# OS
.DS_Store

# Python cache
__pycache__/
application/__pycache__/
*.pyc

# Local artifacts
application/5000

# Local tooling
.codex/
