apiVersion: apps/v1
kind: ReplicaSet
metadata:
  name: frontend-rs
  namespace: victor-leopold
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: nginx:alpine
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: "4m"
              memory: "32Mi"

